{% if log_groups %} {% for group in log_groups %}
<details style="width: 100%">
    <summary style="cursor: pointer; font-weight: 600">
        <i class="fa-solid fa-calendar"></i> {{ group.date }}
    </summary>

    <div style="padding-top: 1rem">
        {% for run in group.runs %}
        <div
            class="card"
            style="
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                align-items: center;
            "
        >
            <!-- Header -->
            <span
                >{{ run.timestamp.strftime("%H:%M:%S") }} - {{ run.filename
                }}</span
            >
            <div style="display: flex; gap: 8px; align-items: center">
                {% if run.warnings > 0 %}
                <div
                    style="
                        background: orangered;
                        padding: 3px 8px;
                        border-radius: 999px;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    "
                >
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    <span style="font-size: 12px">{{ run.warnings }}</span>
                </div>
                {% endif %} {% if run.errors > 0 %}
                <div
                    style="
                        background: #8b0000;
                        padding: 3px 8px;
                        border-radius: 999px;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    "
                >
                    <i class="fa-solid fa-bug"></i>
                    <span style="font-size: 12px">{{ run.errors }}</span>
                </div>
                {% endif %}

                <div
                    style="
                        background: #222;
                        padding: 3px 8px;
                        border-radius: 999px;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    "
                >
                    <i class="fa-regular fa-clock"></i>
                    <span style="font-size: 12px">{{ run.duration }}</span>
                </div>

                <a href="/logs/view?path={{ run.path }}" target="_blank">
                    <button class="btn-secondary">Anzeigen</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</details>
{% endfor %} {% else %}
<p>Keine Logs vorhanden.</p>
{% endif %}
